In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

conn_url = 'postgresql://postgres:123@localhost/APAN 5310 Final Project'
engine = create_engine(conn_url)
connection = engine.connect()

In [ ]:
#player
all_seasons=pd.read_csv('all_seasons.csv')

# Filter data from 2012 to 2020
all_seasons12_20=all_seasons[all_seasons.season.isin(['2012-13','2013-14','2014-15','2015-16','2016-17','2017-18','2018-19','2019-20','2020-21'])]

# Keep latest data of each player
all_seasons12_20=all_seasons12_20.groupby('player_name').last()
all_seasons12_20=all_seasons12_20.reset_index()

# Lower case all the characters
player_lower = all_seasons12_20['player_name'].str.lower()
all_seasons12_20.insert(1, 'player_lower', player_lower)

# Delete special characters in player names
import re
amatch = [re.sub(r'[^a-z]','',string) for string in all_seasons12_20.player_lower]
all_seasons12_20.insert(2, 'player_match', amatch)

# Add incrementing integers
all_seasons12_20.insert(0, 'player_id', range(1, 1 + len(all_seasons12_20)))

# Extract necessary columns for player table
player_df=all_seasons12_20[['player_id','player_name','player_height','player_weight','draft_year','college','country']]

# Adjusted column names according to schema
player_df = player_df.rename(columns={"player_height": "height", "player_weight": "weight"})
player_df.to_sql(name='player', con=engine, if_exists='append', index=False)

In [ ]:
#import teams dataset
teams = pd.read_csv("teams.csv")

#We can  create a subset of df_teams corresponding to the teams database table.
temp_teams_df= teams[['ABBREVIATION','YEARFOUNDED']]

#delete duplicate values
temp_teams_df=temp_teams_df.drop_duplicates()

# insert team_id
temp_teams_df.insert(0, 'team_id', range(1, 1 + len(temp_teams_df)))

#rename the column name of dataframe to match the column name of table
temp_teams_df = temp_teams_df.rename(columns={"ABBREVIATION": "team_name", "YEARFOUNDED": "year_found"})

In [ ]:
#load team data to the database
temp_teams_df.to_sql(name='team', con=engine, if_exists='append', index=False)

In [ ]:
#player_stats
Player12_22=pd.read_csv('NBA Players 2012-2022.csv')

# Filter data from 2012 to 2020
Player12_20=Player12_22[Player12_22.year<2021]

# Lower case player names
player_lower = Player12_20['PLAYER'].str.lower()
Player12_20.insert(2, 'player_lower', player_lower)

# Delete special characters in player names
import re
pmatch = [re.sub(r'[^a-z]','',string) for string in Player12_20.PLAYER]
Player12_20.insert(2, 'player_match', pmatch)
temp_player_match=all_seasons12_20[['player_id','player_match']].drop_duplicates()

# Match player names according to foundation player table
match = [x for x in pmatch if x in amatch]
Player12_20_match=Player12_20[Player12_20.player_match.isin(match)]
temp_player=all_seasons12_20[['player_id','player_match']]

# Map player_id
player_id_list = [temp_player.player_id[temp_player.player_match == i].values[0] for i in Player12_20_match.player_match]

# Add player_id into the main dataframe
Player12_20_match.insert(1,'player_id',player_id_list)

# Upper case team names for matching
team_upper = Player12_20_match['TEAM'].str.upper()
Player12_20_match.insert(5,'team_name',team_upper)

# Adjust team name for matching
Player12_20_match=Player12_20_match[Player12_20_match.team_name!='NJN']
Player12_20_match=Player12_20_match.replace('BRO','BKN')
Player12_20_match=Player12_20_match.replace('PHO','PHX')
Player12_20_match=Player12_20_match.replace('GOL','GSW')
Player12_20_match=Player12_20_match.replace('SAN','SAS')
Player12_20_match=Player12_20_match.replace('NOR','NOP')

# Map team_id
team_id_list = [temp_teams_df.team_id[temp_teams_df.team_name == i].values[0] for i in Player12_20_match.team_name]
Player12_20_match.insert(4, 'team_id', team_id_list)

# Extract necessary columns for player_stats table
temp_player_stat=Player12_20_match[['player_id','team_id','year','MPG','MIN%','USG%','TOr','SPG','FT%','2P%','3P%']]

# Adjusted column names according to schema 
temp_player_stat = temp_player_stat.rename(columns={"MPG": "mpg", "MIN%": "min_percentage", "USG%": "usage_percentage", "TOr": "turnover_percentage", "SPG": "steal_per_game", "FT%": "freethrow_percentage", "2P%": "two_point_percentage", "3P%": "three_point_percentage"})
temp_player_stat. \
    drop_duplicates().to_sql(name='player_stats', con=engine, if_exists='append', index=False)

In [ ]:
#load arena data
arena = pd.read_csv("Team_Arena_Year.csv")

# create a temp dataframe with unique arena
temp_arena_df = arena[['Arena Name','Location','Capacity']]

#delete duplicate values.
temp_arena_df=temp_arena_df.drop_duplicates()

# insert arena_id
temp_arena_df.insert(0, 'arena_id', range(1, 1 + len(temp_arena_df)))

#rename the column name of dataframe to match the column name of table
temp_arena_df = temp_arena_df.rename(columns={"Arena Name": "arena_name", "Location": "arena_location","Capacity":"capacity"})

In [ ]:
#load arena data to the database
temp_arena_df.to_sql(name='arena', con=engine, if_exists='append', index=False)

In [ ]:
# team_arena

#insert arena's arena_id by merging temp_arena dataframe and arena dataframe
arena = pd.merge(arena, temp_arena_df, how = 'left',left_on = 'Arena Name',right_on = 'arena_name')

# insert team_id by merging temp_teams_df with arena dataframe
team_arena = pd.merge(arena, temp_teams_df,how = 'left',left_on = 'Team Name',right_on = 'team_name')

team_arena = team_arena[['team_id','arena_id','Year']]
team_arena=team_arena.rename(columns={"Year": "year"})
team_arena[team_arena.isnull().values == True]
team_arena = team_arena.fillna(value=2)

In [ ]:
#load team_arena data to the database
team_arena.to_sql(name='team_arena', con=engine, if_exists='append', index=False)

In [1]:
# game 

#import game data
games = pd.read_csv("games 1.csv")
games = games.loc[(games['SEASON']<2021) & (games['SEASON']>2011) ]

#insert game_id
games.insert(0, 'id', range(1, 1 + len(games)))

temp_game_df = games[['id','GAME_DATE_EST','winner_team','winner_score']].drop_duplicates()

#replace winner_team with team_id
temp_teams_df.head()

#insert winners' team_id by merging team dataframe and game dataframe
result = pd.merge(temp_game_df, temp_teams_df, how = 'left',left_on = 'winner_team',right_on = 'team_name')

temp_game_df = result[['id','GAME_DATE_EST','team_id','winner_score']].rename(columns={"id": "game_id", "GAME_DATE_EST": "game_date","team_id": "winner_id"})

SyntaxError: unexpected EOF while parsing (<ipython-input-1-767da8eb83b5>, line 20)

In [ ]:
#load game data to the database
temp_game_df.to_sql(name='game', con=engine, if_exists='append', index=False)

In [ ]:
# team_game 
#team_game's data
team_game_temp = games[['id','home_team','visitor_team']].drop_duplicates()
team_game_temp = pd.merge(team_game_temp, temp_teams_df, how = 'left',left_on = 'home_team',right_on = 'team_name')
team_game_temp = team_game_temp[['id','visitor_team','team_id']].rename(columns={"id": "game_id","team_id":"home_team_id"})
team_game_temp = pd.merge(team_game_temp, temp_teams_df, how = 'left',left_on = 'visitor_team',right_on = 'team_name')
team_game_temp = team_game_temp[['game_id','home_team_id','team_id']].rename(columns={"team_id":"visitor_team_id"})

In [ ]:
#load team_game data to database
team_game_temp.to_sql(name='team_game', con=engine, if_exists='append', index=False)

In [ ]:
# ranking
ranking = pd.read_csv("ranking.csv")
#delete duplicate values
ranking=ranking[['TEAM_ID','STANDINGSDATE','W']].drop_duplicates()
#filter the ranking data from 2012-2020
ranking = ranking.loc[(ranking['STANDINGSDATE'] == '2012-12-31')| (ranking['STANDINGSDATE'] == '2013-12-31') | (ranking['STANDINGSDATE'] == '2014-12-31') |
                      (ranking['STANDINGSDATE'] == '2015-12-31') | (ranking['STANDINGSDATE'] == '2016-12-31')| (ranking['STANDINGSDATE'] == '2017-12-31')| 
                      (ranking['STANDINGSDATE'] == '2018-12-31') | (ranking['STANDINGSDATE'] == '2019-12-31') | (ranking['STANDINGSDATE'] == '2020-12-31')]
import datetime
ranking['STANDINGSDATE'] = pd.to_datetime(ranking['STANDINGSDATE'])
ranking['STANDINGSDATE']=ranking['STANDINGSDATE'].apply(lambda x: x.year)
ranking['ranking'] = ranking.groupby('STANDINGSDATE')['W'].rank(ascending=False,method='min')
ranking = pd.merge(ranking, teams, how = 'left',left_on = 'TEAM_ID',right_on = 'TEAM_ID')
ranking = pd.merge(ranking, temp_teams_df, how = 'left',left_on = 'ABBREVIATION',right_on = 'team_name')
temp_ranking_df = ranking[['team_id','STANDINGSDATE','ranking']].rename(columns = {"STANDINGSDATE":"year"})

In [ ]:
#load ranking data to dataframes
temp_ranking_df.to_sql(name='ranking', con=engine, if_exists='append', index=False)

In [ ]:
#all_star

# Extract necessary data for all-star table
all_star=Player12_20_match[['player_id','year','all_star']]

# Filter all-star players
all_star=all_star[all_star.all_star==1]

# Push data into database
all_star[['player_id','year']].drop_duplicates().to_sql(name='all_star', con=engine, if_exists='append', index=False)

In [ ]:
## load game_id data
game = pd.read_csv("games_id.csv")
temp_game_df = game[['id','GAME_DATE_EST','winner_team','winner_score']].drop_duplicates()
#insert winners' team_id by merging team dataframe and game dataframe
result = pd.merge(temp_game_df, temp_teams_df, how = 'left',left_on = 'winner_team',right_on = 'team_name')
temp_game_df = result[['id','GAME_DATE_EST','team_id','winner_score']].rename(columns={"id": "game_id", "GAME_DATE_EST": "game_date","team_id":"winner_id"})

In [ ]:
#player_game
games=pd.read_csv('games_details.csv')

# Lower case player names
player_lower3 = games['PLAYER_NAME'].str.lower()
games.insert(6,'player_lower',player_lower3)

# Delete special characters in player names
import re
gmatch = [re.sub(r'[^a-z]','',string) for string in games.player_lower]
games.insert(7,'player_match',gmatch)

# Match games based on game table
match3 = [x for x in gmatch if x in amatch]
games=games[games.GAME_ID.isin(game.GAME_ID)]
games_match=games[games.player_match.isin(match3)]

# Map player_id list
player_id_list3 = [temp_player.player_id[temp_player.player_match == i].values[0] for i in games_match.player_match]
games_match.insert(5,'player_id',player_id_list3)

# Map game_id list
game_id_list = [game.id[game.GAME_ID == i].values[0] for i in games_match.GAME_ID]
games_match.insert(0,'game_id',game_id_list)

# Extract necessary columns for player_game table
temp_player_game=games_match[['player_id','game_id','MIN','START_POSITION','PTS','TO','STL']]

# Adjust column names according to schema
temp_player_game = temp_player_game.rename(columns={"MIN": "minute", "START_POSITION": "position", "PTS": "points_scored", "TO": "turnover", "STL": "steal"})

# Keep latest data for each player in each game (solve redundancy)
temp_player_game=temp_player_game.groupby(['player_id','game_id']).last()
temp_player_game=temp_player_game.reset_index()

# Push data into database
temp_player_game[['player_id','game_id','position','points_scored','turnover','steal']].\
    drop_duplicates().to_sql(name='player_game', con=engine, if_exists='append', index=False)

In [ ]:
### company table 

### load company data and clean it 
df2 = pd.read_csv("Team Sponsors2.csv")
df2 = df2.rename(columns={'Previous jersey sponsor(s)': 'company_name'})
df_company = df2.company_name.str.split(',').apply(pd.Series, 1).stack()
df_company.index = df_company.index.droplevel(-1)
df_company.name = 'company_name'
del df2['company_name']
df2 = df2.join(df_company);df2
df2.insert(0, 'company_id', range(1, 1 + len(df2)))
df2['company_name'] = df2['company_name'].str.slice(0,-11)
company = df2[['company_id','company_name']]

In [ ]:
# insert company data into SQL
for rows in company.itertuples():
    connection.execute('''
                INSERT INTO company
                VALUES (%s,%s);
                ''',
                rows.company_id,
                rows.company_name
                )
table2= connection.execute('''select * from company;''')

In [ ]:
## team_company

### read team_company data and clean it 
df3 = pd.read_csv("team_company.csv")
df3 = df3.rename(columns={'year ': 'year'})
team_company= df3[['team_id','year','company_id']]

In [ ]:
# insert team_company data into SQL
for rows in team_company.itertuples():
    connection.execute('''
                INSERT INTO team_company
                VALUES (%s,%s,%s);
                ''',
                rows.team_id,
                rows.year,
                rows.company_id
                )
table_team_company= connection.execute('''select * from team_company;''')